.bsp
.metals
.vscode
project
target
.bloop

output
output_images
output_center
output_test*
test_run_dir
venv
__pycache__
*.pyc

# RTL simulation outputs
rtl/sim/sim_build
rtl/sim/*.vcd
rtl/sim/results.xml
*.vcd
dump.vcd

SlimeSimulatorArticle.pdf